<div class="file-chooser-container full-width" fxLayout="column">
    <div>Current directory: {{ directoryPath }}</div>
    <div>
        File extension:
        <input type="text" [(ngModel)]="fileExtension" />
    </div>
    <div>
        Filter strings (comma separated):
        <input type="text" [(ngModel)]="fileFilterStrings" />
    </div>
    <hr />
    <div>
        <div (click)="searchFiles()" class="full-width" fxLayout="row" fxLayoutAlign="center">
            <div class="btn">[ SEARCH FILES ]</div>
        </div>
    </div>
    <hr />
    <div class="files-list-container" fxLayout="column">
        <div *ngIf="files?.length" class="title">Found files ({{getSelectedFiles().length}}/{{files.length}}):</div>
        <div *ngFor="let file of files" class="file-container" fxLayout="row">
            <input type="checkbox" [(ngModel)]="file.Selected" />
            <div>{{ file.FullPath }}</div>
        </div>
    </div>
    <hr />
    <div>
        <div (click)="selectFiles()" class="full-width" fxLayout="row" fxLayoutAlign="center">
            <div class="btn">[ SELECT FILES ]</div>
        </div>
    </div>
    <hr />
</div>
