.content-container {
    line-height: 1.2rem;

    .button {
        cursor: pointer;
    }

    .header-button-container {
        height: 70px;
    }

    .second-column {
        margin-left: 15px;
    }

    .files-list-container {
        input {
            cursor: pointer;
        }

        .file-container {
            line-height: 1rem;
        }

        .info {
            margin: 0 10px;
        }
    }
}
