<div class="content-container" fxLayout="column" fxLayoutAlign="start">
    <div class="header-container full-width" fxLayout="row" fxLayoutAlign="center">
        <div (click)="onAIModificationFiles()" class="btn" fxLayout="row">
            <div>[ MODIFY FILES with AI ]</div>
        </div>
    </div>
    <hr />
    <div class="header-container full-width" fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="row">
            <div>Progress: {{ progress?.completed }} / {{ progress?.total }}</div>
        </div>
    </div>
    <hr />
    <div class="header-container full-width" fxLayout="row">
        <div class="header-container full-width" fxLayout="column" fxFlex="50">
            <h1>Choose files:</h1>
            <file-chooser></file-chooser>
        </div>

        <div class="header-container full-width" fxLayout="column" fxFlex="50">
            <h1>Prompt:</h1>
            <textarea
                [(ngModel)]="myAIPrompt"
                rows="25"
                placeholder="Enter your AI prompt here"
                class="full-width"
            ></textarea>
            <hr />
            <hr />
            <div class="files-list-container" fxLayout="column">
                <div *ngFor="let file of files" class="file-container" fxLayout="row">
                    <input type="checkbox" [(ngModel)]="file.Selected" />
                    <div class="info">
                        <ng-container *ngIf="file.Done; else notDone">+</ng-container>
                        <ng-template #notDone>
                            <ng-container *ngIf="file.Processed; else notProcessed">...</ng-container>
                            <ng-template #notProcessed>-</ng-template>
                        </ng-template>
                    </div>
                    <div>{{ file.FullPath }}</div>
                </div>
            </div>
        </div>
    </div>

    <hr />
</div>
