<div class="content-container gray" fxLayout="column" fxLayoutAlign="start">
    <div
        *ngIf="!processing"
        class="content-container header-button-container"
        fxLayout="row"
        fxLayoutAlign="center center"
    >
        <div *ngIf="canProcessFilesWithAi()" (click)="onAIProcessFiles()" class="btn" fxLayout="row">
            [ PROCESS FILES with AI ]
        </div>
        <div *ngIf="!canProcessFilesWithAi()" class="bolder">AI API - CONFIGURE the PROCESS</div>
    </div>
    <div
        *ngIf="processing"
        class="content-container header-button-container"
        fxLayout="row"
        fxLayoutAlign="center center"
    >
        <div fxLayout="row">
            <div>Progress: {{ progress?.completed }} / {{ progress?.total }}</div>
        </div>
    </div>
    <div class="section-container full-width" fxLayout="row">
        <div class="content-container full-width" fxLayout="column" fxFlex="50">
            <prompt-library (selectPromptEmitter)="selectPrompt($event)"></prompt-library>
        </div>
        <div class="content-container full-width" fxLayout="column" fxFlex="50">
            <div class="title">Prompt used in the process:</div>
            <textarea
                [(ngModel)]="myAIPrompt"
                placeholder="Select your AI prompt from library or enter here"
                spellcheck="false"
                class="full-width"
                autoheight
            ></textarea>
        </div>
    </div>
    <div class="section-container" fxLayout="row">
        <div class="content-container full-width" fxLayout="column" fxFlex="50">
            <file-chooser (selectFilesEmitter)="selectFiles($event)"></file-chooser>
        </div>
        <div class="content-container full-width" fxLayout="column" fxFlex="50">
            <div *ngIf="files?.length" class="files-list-container" fxLayout="column">
                <div *ngIf="canProcessFilesWithAi()" (click)="calculateTokensForFiles()" class="btn" fxLayout="row">[ CALCULATE TOKENS and COST ]</div>
                <hr />
                <div class="title">Selected files ({{ files.length }}):</div>
                <div *ngFor="let file of files" class="file-container" fxLayout="row">
                    <div class="info">
                        <ng-container *ngIf="file.Done; else notDone">&#10003;</ng-container>
                        <ng-template #notDone>
                            <ng-container *ngIf="file.Processed; else notProcessed">&#8987;</ng-container>
                            <ng-template #notProcessed>&#10596;</ng-template>
                        </ng-template>
                    </div>
                    <div>{{ file.FullPath }}</div>
                    <div *ngIf="file.Tokens">&nbsp;({{ file.Tokens }})</div>
                </div>
            </div>
        </div>
    </div>
</div>
